<h1>Exchanges</h1>
<h2>My requests</h2>
<ul>
  <% @user_exchanges.each do |exchange| %>
    <li><%= @items.find(exchange.item_id).title %>
    <% if exchange.approved %>
      <i class="far fa-check-circle"></i>
    <% else %>
      <i class="far fa-paper-plane"></i>
    <% end %>
    </li>
  <% end %>
</ul>
<h2>My items</h2>
<ul>
  <% @user_items.each do |item| %>
    <li><%= item.title %> Requested?: <% if @exchange.find_by(item_id: item.id)%>
      <%= true %>
      <% if @exchange.find_by(item_id: item.id).approved %>
        <p>Item pending for trade</p>
      <% else %>
        <%= form_for(@exchange.find_by(item_id: item.id), url: exchange_path(@exchange.find_by(item_id: item.id)), method: "patch", remote: true, data: { confirm: "You sure?"}) do |fa| %>
          <%= fa.hidden_field :approved, :value => true %>
          <%= fa.submit "Approve", class: "btn btn-small btn-success" %>
        <% end %>
      <% end %>
      <% else  %>
      <%= false %>
      <% end %>
    </li>
  <% end %>
</ul>
