<div class="container align-justify-center">
  <br>
  <h1 class="px-3">Exchanges</h1>
  <h2 class="px-3" id="header-request">My requests</h2>
  <br>
  <ul>
    <% @user_exchanges.each do |exchange| %>
      <li><%= @items.find(exchange.item_id).title %>
      <% if exchange.approved %>
        <i class="far fa-check-circle"></i> Ready for collection at <%= exchange.location %> on <%= exchange.time_slot %>
        <%# <%= link_to "Transaction Complete", complete_exchange_path(exchange, method: :post) %>
      <% else %>
        <i class="far fa-paper-plane"></i>
      <% end %>
      </li>
    <% end %>
  </ul>
  <br>
  <h2 class="px-3" id="header-request">My items</h2>
  <ul>
    <% @user_items.each do |item| %>
      <li><%= item.title %>
      <% if @exchange.find_by(item_id: item.id)%>
        <% if (@exchange.find_by(item_id: item.id).approved) && !@exchange.find_by(item_id: item.id).completed%>
          <i class="far fa-check-circle"></i> Ready for delivery at <%= @exchange.find_by(item_id: item.id).location %> on <%= @exchange.find_by(item_id: item.id).time_slot %>
          <%= link_to "Transaction Completed", complete_exchange_path(@exchange.find_by(item_id: item.id)), method: :post %>
        <% else %>
          <%= link_to "Agree to Trade", approve_exchange_path(@exchange.find_by(item_id: item.id)), method: :post %>
        <% end %>
        <% else  %>
        <i class="far fa-paper-plane"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div id="map"
      style="width: 60%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>
