<div class="container align-justify-center">
  <% content_for(:title, "New Item") %>
  <h1>New Item</h1>
  <%= simple_form_for @item, url: items_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :title, placeholder: 'Macbook', label:'Give a sexy Title:' %>

    <%= f.input :description, placeholder: 'Great for student', label:'Description:' %>

    <%= f.input :condition, placeholder: 'Excellent', :collection => %w[Excellent Good Average Bad Broken] %>

    <%= f.input :year_made, placeholder: '2020', label:'Year Made:', min_max: true %>

    <%= f.input :number_available, placeholder: '1', label:'Number Available:', min_max: true %>

    <%= f.input :photos, as: :file, input_html: { multiple: true }, class:'btn-primary', label:'Upload Photos' %>

    <%= f.button :submit, class: "btn btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary" %>
  <% end %>
</div>
