<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "https://images.unsplash.com/photo-1464380573004-8ca85a08751a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", class: "d-block w-100", alt: "user uploaded image 1" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80", class: "d-block w-100", alt: "user uploaded image 2" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80", class: "d-block w-100", alt: "user uploaded image 3" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="card item-show-card bg-light mb-3 mt-4">
        <div class="card-body m-2">
          <div class="card-title">
            <h3><%= @item.title %></h3>
          </div>
          <div class="card-subtitle text-muted">
            <% ary = @item.created_at.to_s.split(' ') %>
            <h6>Posted on <%= ary.first %></h6>
          </div>
          <div class="card-text mt-3 mb-2 border-bottom d-flex justify-content-start">
            <h5 class="mr-4 mb-3"><i class="far fa-check-square"></i> <%= @item.condition %></h5>
            <h5 class="mr-4 mb-3"><i class="far fa-calendar-alt"></i> <%= @item.year_made %></h5>
            <h5 class="mb-3"><i class="fas fa-shopping-cart"></i> <%= @item.number_available %></h5>
          </div>
          <div class="card-text mt-3">
            <h2>Description</h2>
            <p><%= @item.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card item-show-card bg-light mb-3 mt-4">
        <div class="card-body m-2">
          <div class="card-title d-flex justify-content-start align-items-center border-bottom mb-3">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar mb-3" %>
            <h5 class="ml-2 mb-3"><%= @item.user.name %></h5>
          </div>
          <% if policy(@item).update? && policy(@item).destroy? %>
            <%= link_to 'View exchange requests', '#', class: "btn btn-success mb-4", style: "width: 100%" %>
            <div><i class="far fa-edit mr-2"></i><%= link_to 'Edit Listing', edit_item_path(@item), class: "text-decoration-none" %></div>
            <div class="delete mt-2"><i class="far fa-trash-alt mr-2 text-danger"></i><%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger text-decoration-none" %></div>
          <% elsif @exchanges.map { |exchange| exchange.item_id }.include?(@item.id) %>
            <div>Sorry! Not available anymore</div>
          <% else %>
            <div class="exchange-form mt-4">
              <h3>Exchange request</h3>
                <div class="mt-3">
                  <%= simple_form_for [ @item, Exchange.new ] do |f| %>
                    <%= f.input :method, collection: ['Delivery', 'Meet-up'] %>
                    <%= f.input :location, label: 'Meet-up Location/Delivery Address' %>
                    <%= f.input :time_slot, label: 'Meet-up Date & Time', hint: 'YYYY/MM/DD, HH:MM AM/PM (If delivery, "NA")' %>
                    <%= f.submit 'Send exchange request', class: "btn btn-success", style: "width: 100%" %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
